#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.cardsContainer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.game {
  display: flex;
  justify-content: center;
}
.rules {
  padding: 8px;
  background-color: rgb(20, 18, 18);
  border-radius: 15px;
  position: fixed;
  left: 5px;
  width: 150px;
}

.rules > span {
  color: rgba(240, 224, 224, 0.9);
}
/* 
.rules>span>h3{
  color: ;
} */
@media (max-width: 768px) {
  .rules {
    position: relative;
    width: 100%;
  }
}
